<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Farm Management Simulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/mobs">Mobs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/paddocks">Paddocks</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/stock">Stock</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/move_mob">Move Mob</a>
          </li>
      </ul>
  </div>
</nav>
